<h2>Edit your Comment</h2>
<hr>

<form action="/comment-edit/editstock/{{foundComment._id}}" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="{{foundComment.name}}" />

  <label>Comment:</label>
  <input type="text" name="comment" value="{{foundComment.comment}}" />

  <button type="submit">Save changes</button>
</form>
<hr />
<form action="/comment-edit/delete/{{foundComment._id}}" method="POST">
  <button type="submit">Delete</button>
</form>