<h1>Stock</h1>
<div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-evenly">
  {{#each stockList}}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4 align-self-center">
          <img
            src="{{this.data.companyInformation.logoURL}}"
            class="img-fluid rounded-start"
            alt="Company logo"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5
              class="card-title"
            ><b>{{this.data.companyInformation.shortName}}</b></h5>
            <p class="card-text">({{this.data.ticker}})</p>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <p class="card-text"><a
                href="/stock-view-details/{{this.data.ticker}}"
              >Check More</a></p>
          </div>
        </div>
      </div>
    </div>

  {{/each}}
</div>