<h1>Company List</h1>

<h2>Latest new's from the market:</h2>
{{#each stockList}}
  <ul class="home-stocks">
    <li><a href="/news-view-detail/{{this.data.ticker}}">
        {{this.data.companyInformation.shortName}}</a>
    </li>
  </ul>
{{/each}}

<ul>
  <li>
    <a href="/newsfeed">Check More new's over here</a>
  </li>
</ul>

<h2>Check the stocks from: </h2>
{{#each stockList}}
  <ul class="home-stocks">
    <li><a href="/stock-view-details/{{this.data.ticker}}">
        {{this.data.companyInformation.shortName}}</a>
    </li>
  </ul>
{{/each}}
<hr>
<ul>
  <li>
    <a href="/techcategory">Tech Industry</a>
    <hr>
    <a href="/healthcategory">Health-Care</a>
   <hr>
    <a href="/industrialcategory">Industrial</a>
   <hr>
    <a href="/bankcategory">Financial</a>
<hr>
    <a href="/energycategory">Energy</a>
<hr>
    <a href="/communicationcategory">Communication</a>
<hr>
    <a href="/consumerscategory">Consumer Staples</a>
<hr>
    <a href="/realestatecategory">Real Estate</a>
<hr>
    <a href="/volumecategory">Biggest volume S&P500</a>
<hr>
  </li>
</ul>