<h1>Company List</h1>

<ul>
</ul>

<h2>Main Stock's new from today</h2>
<ul class="home-news">
  <li><a href="/news-view/"></a>News1</li>
  <li><a href="/news-view/"></a>News2</li>
  <li><a href="/news-view/"></a>News3</li>
  <li><a href="/newsfeed">Check More new's over here</a></li>
</ul>

<h2>Chek some Stock's</h2>
<ul class="home-stocks">
  <li><a href="/stock-view-details/{{stockInfo.data.ticker}}"></a>Stock1</li>
  <li><a href="/stock-view-details/{{stockInfo.data.ticker}}"></a>Stock2</li>
  <li><a href="/stock-view-details/{{stockInfo.data.ticker}}"></a>Stock3</li>
  <li><a href="/stockcategory">Check Stocks Category 1</a></li>
</ul>