<div class="home-view">
  <h1>StockOverFlow</h1>

  {{!-- <button><a href="/Profile/{{user}}">Profile</a></button> --}}

  <h2>Stock's by businnes cate</h2>
  <div class="home-category container d-flex justify-content-between">
    <ul class="col list-group">
      <li><a class="list-group-item" href="/techcategory">Tech Industry</a></li>
      <li><a class="list-group-item" href="/healthcategory">Health-Care</a></li>
      <li><a
          class="list-group-item"
          href="/industrialcategory"
        >Industrial</a></li>
    </ul>
    <ul class="col">
      <li><a
          class="list-group-item"
          href="/financialcategory"
        >Financial</a></li>
      <li><a class="list-group-item" href="/energycategory">Energy</a></li>
      <li><a
          class="list-group-item"
          href="/communicationcategory"
        >Communication</a></li>
    </ul>
    <ul class="col">
      <li><a class="list-group-item" href="/consumerscategory">Consumer Staples</a></li>
      <li><a class="list-group-item" href="/realestatecategory">Real Estate</a></li>
      <li><a class="list-group-item" href="/volumecategory">Biggest volume
          S&amp;P500</a></li>
    </ul>
  </div>

  <hr />

  <div class="home-category container">
    <div class="row align-items-center">
      <h2 class="col">
        <a href="/newsfeed">Latest new's from the market</a>
      </h2>
      <h2 class="col">Check a random Stock's</h2>

    </div>

  </div>

</div>