<h1>Company List</h1>

<h2>Latest new's from the market:</h2>
{{#each stockList}}
  <ul class="home-stocks">
    <li><a href="/news-view-detail/{{this.data.ticker}}">
        {{this.data.companyInformation.shortName}}</a>
    </li>
  </ul>
{{/each}}

<ul>
  <li>
    <a href="/newsfeed">Check More new's over here</a>
  </li>
</ul>

<h2>Check the stocks from: </h2>
{{#each stockList}}
  <ul class="home-stocks">
    <li><a href="/stock-view-details/{{this.data.ticker}}">
        {{this.data.companyInformation.shortName}}</a>
    </li>
  </ul>
{{/each}}

<ul>
  <li>
    <a href="/stockcategory">Check more stocks clinking here</a>
  </li>
</ul>