<div class="home-view">
  <h1>StockOverFlow</h1>

  <h2>Stock's by businnes cate</h2>
  <div class="home-category container">
    <div class="row align-items-center">
      <ul class="col">
        <li><a href="/techcategory">Tech Industry</a></li>
        <li><a href="/healthcategory">Health-Care</a></li>
        <li><a href="/industrialcategory">Industrial</a></li>
      </ul>
      <ul class="col">
        <li><a href="/bankcategory">Financial</a></li>
        <li><a href="/energycategory">Energy</a></li>
        <li><a href="/communicationcategory">Communication</a></li>
      </ul>
      <ul class="col">
        <li><a href="/consumerscategory">Consumer Staples</a></li>
        <li><a href="/realestatecategory">Real Estate</a></li>
        <li><a href="/volumecategory">Biggest volume S&amp;P500</a></li>
      </ul>
    </div>
  </div>
  <hr />

  <div class="home-category container">
    <div class="row align-items-center">
      <ul class="col">
        <h2> The last new's from:</h2>
        {{#each stockList}}
          <li><a href="/news-view-detail/{{this.data.ticker}}">
              {{this.data.companyInformation.shortName}}</a>
          </li>
        {{/each}}
      </ul>
      <ul class="col">
        <h2>Check a random Stock's</h2>
        {{#each stockList}}
          <li><a href="/stock-view-details/{{this.data.ticker}}">
              {{this.data.companyInformation.shortName}}</a>
          </li>
        {{/each}}
      </ul>
    </div>

  </div>

</div>