<div class="home-view">

  <h2>Stock's by businnes category</h2>
  <div class="col-md">

    <div class="home-category container d-flex justify-content-between-md">

      <ul class="list-group">
        <li>
          <a class="list-group-item home-img" href="/techcategory"><img
              src="https://images.unsplash.com/photo-1563770660941-20978e870e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt="Tech industry image"
            />Tech Industry
          </a>
        </li>
        <li>
          <a class="list-group-item home-img" href="/healthcategory"><img
              src="https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
              alt="Health-Care image"
            />Health-Care
          </a>
        </li>
        <li>
          <a class="list-group-item home-img" href="/industrialcategory"><img
              src="https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
              alt="Industry image"
            />Industrial
          </a>
        </li>
      </ul>
      <ul class="col">
        <li>
          <a class="list-group-item home-img" href="/financialcategory"><img
              src="https://images.unsplash.com/photo-1543286386-2e659306cd6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
              alt="Financial image"
            />Financial
          </a>
        </li>
        <li>
          <a class="list-group-item home-img" href="/energycategory"><img
              src="https://images.unsplash.com/photo-1521618755572-156ae0cdd74d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80"
              alt="Energy image"
            />Energy
          </a>
        </li>
        <li>
          <a class="list-group-item home-img" href="/communicationcategory"><img
              src="https://images.unsplash.com/photo-1622929611233-bd6d58cbd4dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
              alt="Communication image"
            />Communication
          </a>
        </li>
      </ul>
      <ul class="col">
        <li>
          <a class="list-group-item home-img" href="/consumerscategory"><img
              src="https://images.unsplash.com/photo-1580913428706-c311e67898b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
              alt="Consumer Staples image"
            />Consumer Staples
          </a>
        </li>
        <li>
          <a class="list-group-item home-img" href="/realestatecategory"><img
              src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80"
              alt=""
            />Real Estate
          </a>
        </li>
        <li>
          <a class="list-group-item home-img" href="/volumecategory"><img
              src="https://images.unsplash.com/photo-1624996379697-f01d168b1a52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt="Biggest volume S&P500"
            />Biggest volume S&amp;P500
          </a>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="home-category container">
    <div class="row align-items-center">
      <h2 class="col">
        <a href="/newsfeed">Latest new's from the market</a>
      </h2>
      <h2 class="col">Check a random Stock's</h2>

    </div>

  </div>

</div>