<!-- LOGIN FORM -->
<div class="index">
  <div class="container-index flex-column">

    <h1>StockOverFlow</h1>
    <form id="form" action="/home-view" method="POST">

      <div class="input-group mb-3">
        <label
          for="username"
          class="input-group-text"
          id="inputGroup-sizing-default"
        >Username</label>
        <input
          type="text"
          name="username"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>

      <div class="input-group mb-3">
        <label
          for="password"
          class="input-group-text"
          id="inputGroup-sizing-default"
        >Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <button class="btn btn-secondary" type="submit">Login</button>

    </form>
    <!-- SIGN UP BUTTON -->
    <a href="/signup">
      <button class="btn btn-secondary">Signup</button>
    </a>
  </div>

  {{! error message display: }}

  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}

</div>