<h1>Latest new's from the market</h1>

<h2>Latest from XXXX stock'market</h2>
{{! * HERE WE SHOULD DISPLAY THE STOCK'S FROM XXX MARKET }}

<a href="/news-view-detail/">
        {{! Im having issues to display the news array proprieties }}
        {{#each newsList}}</a>
       <p> {{this.newsArticle}}</p>
       <p> {{this.newsSource}}</p>
       <p> {{this.newsLink}}</p>
        <p>{{this.newsDate}}</p>
        <hr>
        {{/each}}

