<h1>DETAILED NEWS GOES HERE</h1>

<section>
    <h2>Title News:</h2>
 <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit odio repellendus accusantium sequi hic voluptate consequatur praesentium, officiis impedit eum facere sit ut laudantium deserunt id voluptatibus ratione deleniti iure.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis dolore, expedita laborum inventore maiores nam suscipit, laboriosam molestias beatae atque labore quaerat itaque, doloremque ea pariatur illum dignissimos minus.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nam labore explicabo ratione voluptatibus quidem vel culpa? Quas in odit debitis maxime, officia a
     Lorem ipsum dolor sit amet consectetur adipisicing elit. A recusandae, vel ducimus dolor, veniam perspiciatis, facilis quos adipisci placeat doloremque et nulla facere cum. Eveniet dolore id aperiam beatae cumque. saepe blanditiis provident ipsam voluptates quidem?

<p> <b>Post a Review</b></p>
<form action="/reviews/create" method="POST">
  <label>Username:</label>
  <input type="text" name="comment">

  <br>
  <label>Comment:</label>
  <input type="number" name="score">
  <button type="submit">Post</button>
</form>

<hr>

{{!-- {{#each book.reviews}} --}}
{{#each book.updatedReviews}}
  <p>Comment: {{this.comment}}</p>
  <p>Score: {{this.score}}</p>
  <hr>
{{/each}}

<small>{{copyrightsText}}</small>