<h1>NEWS FEED HERE</h1>


<section>
    <h2>Title News:</h2>
 <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit odio repellendus accusantium sequi hic voluptate consequatur praesentium, officiis impedit eum facere sit ut laudantium deserunt id voluptatibus ratione deleniti iure.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis dolore, expedita laborum inventore maiores nam suscipit, laboriosam molestias beatae atque labore quaerat itaque, doloremque ea pariatur illum dignissimos minus.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nam labore explicabo ratione voluptatibus quidem vel culpa? Quas in odit debitis maxime, officia a saepe blanditiis provident ipsam voluptates quidem?
 </p>
 <h2>Title News2:</h2>
 <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit odio repellendus accusantium sequi hic voluptate consequatur praesentium, officiis impedit eum facere sit ut laudantium deserunt id voluptatibus ratione deleniti iure.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis dolore, expedita laborum inventore maiores nam suscipit, laboriosam molestias beatae atque labore quaerat itaque, doloremque ea pariatur illum dignissimos minus.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nam labore explicabo ratione voluptatibus quidem vel culpa? Quas in odit debitis maxime, officia a saepe blanditiis provident ipsam voluptates quidem?
 </p>
 <h2>Title News3:</h2>
 <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit odio repellendus accusantium sequi hic voluptate consequatur praesentium, officiis impedit eum facere sit ut laudantium deserunt id voluptatibus ratione deleniti iure.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis dolore, expedita laborum inventore maiores nam suscipit, laboriosam molestias beatae atque labore quaerat itaque, doloremque ea pariatur illum dignissimos minus.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nam labore explicabo ratione voluptatibus quidem vel culpa? Quas in odit debitis maxime, officia a saepe blanditiis provident ipsam voluptates quidem?
 </p>








</section>
