<h1>Latest new's from the market</h1>

<h2>Latest from XXXX stock'market</h2>
{{! * HERE WE SHOULD DISPLAY THE STOCK'S FROM XXX MARKET }}
{{#each stockList}}
  <ul class="home-stocks">
    <li><a href="/news-view-detail/{{this.data.ticker}}">
        {{! Im having issues to display the news array proprieties }}
        {{this.data.companyInformation.newsData}}</a>
    </li>
  </ul>
{{/each}}