body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.container-index {
  width: 400px;
}

.container-index button {
  width: 100%;
}
