@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,300&family=PT+Sans:wght@400;700&family=Roboto:wght@500&display=swap");

h1 {
  text-align: center;
  height: 50px;
  font-weight: 800;
}

h2 {
  text-align: center;
  margin: 5%;
}

hr {
  color: black;
}

footer {
  background-color: #a8500d;
  margin: 0;
}
.error-message {
  background-color: #d9534f;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
}

.input-group-text {
  min-width: 25%;
}

.class-back {
  background-color: #ff9340;
  padding-bottom: 10px;
}
.class-back button {
  color: #fff;
  font-weight: bold;
  max-height: 50px;
  border: 2px solid #a8500d;
  border-radius: 5px;
}
.class-back a {
  color: #fff;
}

.class-back-edit-profile {
  padding-bottom: 10px;
}

.class-back-edit-profile button {
  color: #fff;
  font-weight: bold;
  max-height: 50px;
  background-color: #a8500d;
  border-radius: 5px;
}
.class-back-edit-profile a:hover {
  background-color: #f47f24;
}

.class-back-edit-profile a {
  background-color: #f47f24;
  border: 2px solid #a8500d;
  color: #fff;
}

/*  STYLE CSS */
* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: lightgrey; */
}

a {
  text-decoration: none;
}

a:hover {
  color: #a8500d;
}

ul {
  list-style: none;
}

/* * logo style*/
.logo {
  margin: 5%;
}

.logo img {
  width: 350px;
}

/* * nav-bar */
.nav-bar-logo img {
  height: 32px;
}

/** index.hbs */
.index {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.why-us {
  color: #f47f24;
}
.why-us h1 {
  font-weight: 800;
}

.why-us hr {
  color: #f47f24;
  height: 5px;
  width: 10%;
}

.why-us p {
  text-align: center;
  line-height: 3rem;
  font-size: 1.3rem;
}

.input-home label {
  background-color: #a8500d;
  color: white;
  font-weight: 600;
}

.container-index form {
  max-width: 350px;
}

.container-index button {
  max-width: 350px;
  width: 100%;
}

/** signup page */

.signup-form {
  color: #fff;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.perfil-photo {
  min-height: 250px;
}

.about-profile {
  min-height: 100px;
}

.signup-form button {
  width: 100%;
}

.back-signup {
  width: 100%;
}
/** home-view  */
.home-view {
  max-width: 100%;
}
.home-view h4 {
  margin-top: 15% 0;
  max-width: 220px;
}

.profile-home {
  text-align: right;
  padding-top: 10px;
  width: 100%;
  background-color: #f47f24;
}

.profile-home button {
  margin-right: 20px;
  padding: 0;
  max-height: 50px;
  border: 2px solid #a8500d;
  border-radius: 5px;
  background-color: #a8500d;
}

.profile-home button:hover {
  padding: 0;
  max-height: 50px;
  border: 2px solid #a8500d;
  border-radius: 5px;
  background-color: #f47f24;
}

.profile-home a {
  color: #fff;
}

.profile-home a:hover {
  color: #000;
}

.home-img {
  display: flex;
  width: 100%;
  padding: 3px;
  justify-content: center;
}
.home-img img {
  border: 5px solid #a8500d;
  border-radius: 5px;
  max-width: 300px;
  max-height: 250px;
  width: 100%;
  height: 100%;
}

.category-list li {
  display: flex;
  justify-content: center;
}

.list-group h5 {
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
}
.home-category-list {
  background-color: #f47f24;
  padding: 5% 0;
}
.horizontal-line {
  color: black;
  margin: 10% 0;
  height: 5px;
  width: 70%;
}

.icon-home-info {
  border: 5px solid #a8500d;
  height: 120px;
  width: 120px;
  background-color: #ff9340;
  border-radius: 100%;
  margin: 20% auto;
}
.icon-home-info img {
  height: 80px;
}

.general-information {
  margin-top: 5%;
  padding: 5%;
  background-color: #ff9340;
  color: white;
  text-align: justify;
  line-height: 1.5em;
}

.general-information h4 {
  margin: 5% 0;
  font-size: 3em;
  font-weight: 600;
  padding: 0 10%;
}

.general-information p {
  font-weight: 400;
  font-size: 1.5em;
  padding: 0 10%;
  line-height: 1.5em;
}
.general-information img {
  margin: auto;
  border: 5px solid #a8500d;
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 100%;
}

/* * stock-view */
.stock-genereal-view {
  background-color: #ff9340;
}

.stock-label {
  border: 5px solid #a8500d;
  border-radius: 10px;
  padding: 3%;
}

/* * stock-detail-view */
.stock-details-view {
  background-color: #ff9340;
}

.stock-details {
  background-color: #fff;
  border: 5px solid #a8500d;
  border-radius: 10px;
  padding: 3%;
  margin: 20px;
}

.news-stock-detail {
  padding: 0 10px;
}

.news-stock-detail h2 {
  text-align: left;
}

.stock-details p {
  line-height: 1.5em;
  text-align: justify;
  margin: 1rem auto;
}

.stock-details {
  margin-right: 5%;
}

.comment-stock-detail {
  margin: 0 10%;
}

.order-balance-sheet p {
  background-color: lightgrey;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-left: 10px;
}

.news-list-title {
  color: white;
  margin-bottom: 20%;
  padding: 10px;
  background-color: #a8500d;
  border-radius: 10px;
}
.news-list {
  margin-bottom: 20%;
  border: 5px solid #a8500d;
  border-radius: 10px;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: 600;
}
.news-list a {
  color: #ff9340;
}

.news-list a:hover {
  color: #a8500d;
}
.comment-stock-detail textarea {
  margin: 1rem 0;
  max-height: 200px;
}

.comment-stock-detail {
  width: 50%;
}

/* * edit-comment-view */
.comment-page {
  background-color: #ff9340;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.comment-edit-view {
  width: 50%;
}

.comment-edit-view textarea {
  margin: 0.5rem 0;
  max-height: 200px;
}

.comment-edit-view button {
  width: 100%;
  margin: 0.5rem 0;
}

.edit-delete-btn {
  display: flex;
}

.edit-delete-btn button {
  background-color: #f47f24;
  border: 2px solid #a8500d;
  color: #fff;
  width: 25%;
}
.edit-delete-btn form {
  width: 100%;
}

/* * profile-view */

.profile-view {
  background-color: #ff9340;
}

.profile-view img {
  border-radius: 100%;
  padding: 10%;
}

.card-style {
  margin-bottom: 20%;
  border: 5px solid #a8500d;
  background-color: lightgrey;
  border-radius: 10px;
}

/** edit profile */
.input-profile {
  background-color: #a8500d;
  color: white;
  font-weight: 600;
  border-style: none;
}

/** news-feeds */
.back-btn {
  margin-left: 5%;
}

.new-view {
  background-color: #ff9340;
  padding: 20px 0;
}

.new-view h2 {
  color: #fff;
}
.latest-news {
  background-color: #fff;
  border: 5px solid #a8500d;
  border-radius: 10px;
}

.text-news-btn {
  color: #fff;
  font-weight: bold;
  max-height: 50px;
  border: 2px solid #ff9340;
  border-radius: 5px;
  background-color: #a8500d;
}
.text-news-btn:hover {
  background-color: #ff9340;
  border: 2px solid #a8500d;
}

.GitHub {
  color: black;
}